.dive {
    width: 100%;
    height: 100%;
    font-family: "Matter Regular", "Inter", sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 1.5rem;
}

.monaco {
    width: 100%;
    margin: auto;
    margin-top: 3rem;
    height: 38.25rem;
    border: 1px solid var(--gray-200);
    border-radius: 1rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    margin-bottom: 2rem;
    overflow-y: auto;
}

.editor-header {
    width: 100%;
    height: 2.75rem;
    border-radius: 1rem 1rem 0 0;
    border-bottom: 1px solid var(--gray-200);
    display: flex;
    flex-direction: row;
    background-color: var(--gray-200);
}

.editor {
    min-width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.editor > div {
    background-color: #0d1117;
}

.editor-footer {
    border-top: 1px solid var(--gray-200);
    border-radius: 0 0 1rem 1rem;
    height: 2rem;
    width: 100%;
    background-color: var(--gray-200);
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 0.325rem;
    font-weight: 200;
    font-size: 0.825rem;
    color: var(--gray-600);
}

.highlight {
    background-color: var(--gray-300);
}

.tab-selector {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    border: 0;
    outline: 0;
    background-color: var(--gray-200);
    color: var(--foreground);
    font-size: 1rem;
}

.tab-selector:hover {
    background-color: var(--gray-400);
}

.tab-selector:first-of-type {
    border-top-left-radius: 1rem;
}

.tab-selector span {
    margin-left: 0.25rem;
}

.active-tab {
    background-color: var(--gray-300);
}

.submit button {
    color: var(--foreground);
    background-color: #207c14;
    border: 0;
    padding: 0.325rem 0.825rem;
    border-radius: 0.5rem;
    font-size: 0.825rem;
    position: absolute;
    right: 2.5%;
}

@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }

    100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}

.spin::before {
    animation: 1.5s linear infinite spinner;
    animation-play-state: inherit;
    border: solid 5px #cfd0d1;
    border-bottom-color: #1c87c9;
    border-radius: 50%;
    content: "";
    height: 40px;
    width: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    will-change: transform;
}

.prev {
    height: 0.625rem;
    width: 0.625rem;
    border-bottom-color: var(--gray-400);
}

.uploadcare--widget__button,
.uploadcare--widget__dragndrop-area,
.uploadcare--progress,
.uploadcare--widget__text {
    display: none;
}

.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    height: 35rem;
    margin: 0 auto;
    padding: 45px;
    overflow-y: auto;
}

@media (max-width: 767px) {
    .markdown-body {
        padding: 15px;
    }
}

.commit {
    width: 100%;
    padding: 0.5rem 0.625rem;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form > input {
    width: 100%;
    padding: 0.4rem 0.55rem;
    border: 1px solid var(--gray-200);
    border-radius: 0.5rem;
    font-size: 0.825rem;
    color: #999;
    outline: 0;
    background-color: var(--background);
}

.form > input::placeholder {
    color: var(--gray-300);
}

.form > button {
    color: #f1f1f1;
    background-color: #17640c;
    cursor: pointer;
    width: max-content;
    font-family: "Inter", sans-serif;
    font-size: 0.9rem;
    padding: 0.325rem 1rem;
    margin-top: 0.825rem;
    margin-left: 0.325rem;
    outline: 0;
    border: 0;
    border-radius: 0.5rem;
}

.form > button:hover {
    background-color: #1d8510;
}

.pop-up {
    width: max-content;
    height: 2.25rem;
    border-radius: 0.5rem;
    padding: 0.25rem 0.325rem;
    position: fixed;
    top: 1rem;
    margin: 0 auto;
    left: 42.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    animation: fadein 1s ease-in;
    z-index: 99999999999;
}

.success {
    background-color: #9fff9f;
    color: #009200;
    border: 1px solid #009200;
}

.error {
    background-color: #ff9f7c;
    color: #ba3200;
    border: 1px solid #ba3200;
}

@keyframes fadein {
    0% {
        transform: translateY(0.825rem);
        opacity: 0;
    }

    50% {
        transform: translateY(0.4125rem);
        opacity: 0.825;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.form > button:disabled {
    cursor: not-allowed !important;
    background-color: #425a3e !important;
}